@charset "UTF-8";

/* paleta de cores 
    #A28C77 - bege
    #AC8453 - marrom claro
    #D1DFEA - azul claro
    #C3924F - dourado
    #AFA7A5 - cinza claro
*/

/* Mobile first */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* que a borda faça parte da conta de lagura e altura*/
}
 /* fundo da página */
body, html {
    background-color: #C3924F ;
    height: 100vh;
    width: 100vw;
}

/* container principal */
main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

/* box de login */

section#login {
    /* centralizar o box de login */
    position: absolute;
    top: 50%;
    left: 50%;
    


    /* estilização do box de login */
    background-color: white;
    width: 269px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);

    /* animação simples */ 
    transform: translate(-50%, -50%);
    transition: width .5s, height .5s;
    transition-timing-function: ease; /* suaviza a transição*/

}

/* imagem */
section#login > div#imagem {
    
    display: block;
    background: #C3924F url(../image/pexels-abujunis-10506651.jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    height: 200px;
}

/* formulário */
section#login > div#formulario {
    display: block;
    padding: 10px;
}


div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

/* campos do formulário */



form > div.campo {
    background-color: #A28C77;
    border: 3px solid #A28C77;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}
/* esconde o txt do label */
div.campo > label {
    display: none; /* esconde o txt do label */ 
}

/* campo span icone */
div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 4px;
}

/* campo box input */
div.campo > input {
    background-color: #c5def1;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-11px);
}

/* foco no campo input, quando estiver digitando */
div.campo > input:focus-within {
    background-color: white;
    
}


/* botão */ 

form > input[type=submit] {

    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #6b98bb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color:#21547c ;
}

/* botão link */
form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #21547c;
    border: 1px solid #6b98bb;
    border-radius: 7px;
    text-decoration: none;
}

form > a.botao > span {
    font-size: 0.8em;
}

form > a.botao:hover {
    background-color: #add8fa;
}


