@charset "UTF-8";

/* paleta de cores 
    #A28C77 - bege
    #AC8453 - marrom claro
    #D1DFEA - azul claro
    #C3924F - dourado
    #AFA7A5 - cinza claro
*/

/* Mobile first */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* que a borda faça parte da conta de lagura e altura*/
}
 /* fundo da página */
body, html {
    background-color: #C3924F ;
    height: 100vh;
    width: 100vw;
}

/* container principal */
main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

/* box de login */

section#login {
    /* centralizar o box de login */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    /* estilização do box de login */
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);

    /* animação simples */ 
    transition: width .5s, height .5s;
    transition-timing-function: ease; /* suaviza a transição*/

}

/* imagem */
section#login > div#imagem {
    display: block;
    background: #C3924F url(../image/pexels-abujunis-10506651.jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    height: 200px;
}

/* formulário */
section#login > div#formulario {
    display: block;
    padding: 10px;
}




